<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="shuttle">
      <section name="eventStore" type="Shuttle.Recall.EventStoreSection, Shuttle.Recall" />
    </sectionGroup>
  </configSections>

  <shuttle>
    <eventStore
      compressionAlgorithm="compression-algorithm"
      encryptionAlgorithm="encryption-algorithm"
      durationToSleepWhenIdle="1s" />
  </shuttle>
</configuration>