<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<section name="transactionScope" type="Shuttle.Core.Transactions.TransactionScopeSection, Shuttle.Core.Transactions" />
		<section name="eventStore" type="Shuttle.Recall.EventStoreSection, Shuttle.Recall" />
	</configSections>

	<transactionScope
		enabled="false"
		isolationLevel="RepeatableRead"
		timeoutSeconds="300" />

	<eventStore
		compressionAlgorithm="compression-algorithm"
		encryptionAlgorithm="encryption-algorithm"
		durationToSleepWhenIdle="1s" />
</configuration>